/*
Table reset before loading page
 */
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/*
nav bar style
 */
#nav-bar {
    text-align: center;
    white-space: nowrap;
    margin: 24px;
}

#nav-bar, a {
    padding: 12px;
}

/*
Changes table position to center of page
 */
.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
}

/*
center and resize key images
 */
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18px;
    padding-top: 8px;
}

header {
    text-align: center;
}

/*
employee information table border style and text align
 */

table, td, th {
    white-space: nowrap;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 8px;
    text-align: left;
}

/*
Table header style
 */

thead {
    font-weight: bold;
    position: sticky;
    top: 0;
}

caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

th {
    text-align: center;
}

.datatype {
    text-align: center;
    font-weight: lighter;
    font-style: italic;
}

/*
https://www.w3schools.com/howto/howto_css_table_zebra.asp
zebra strip styles codes for the table copied from above link. First Name and Last Name was also
had colored grey. I just did a guess and fixed it by adding tbody front of the selection. And istead
of even used odd.
 */
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}



